<h1> About </h1>

<div class="content">

	<%= image_tag("/assets/me.png", width: '190', height: '180', alt: 'Site Logo', :class => "me") %>

	<div class="container-fluid">

		<h4> About Me </h4>

		<p class="intro"> Hi! <br> My name is Bruno Bachmann, thanks for checking out my website. I am a Computer Engineer at the University of British Columbia in Vancouver, Canada. Programming is my passion. I love everything from game development, modelling and animation to web development. I especially enjoy learning new languages and frameworks, and pursuing personal projects in these areas during whatever free time I can spare. </p>

	</div>

	<h4> About This Website </h4>

	<p class="intro"> I had two main goals in mind while developing this website. The first was to learn Ruby on Rails (which I love and would recommend to pretty much any programmer). The second was to develop a website that would act as my second resumé of sorts. I feel that in the software development industry it is important to demonstrate to prospective employers that you are in fact capable of building and deploying applications. </p>

</div>