<h1> About </h1>

<div class="content">

	<%= image_tag("/assets/me.png", width: '270', height: '256', alt: 'Site Logo', :class => "me") %>

	<p class="intro"> I am a UBC Computer Engineer, and programming is my passion. I love everything from game development, modelling and animation to web development. I especially enjoy learning new languages and frameworks, and pursuing personal projects in these areas during whatever free time I have. </p>

</div>