<h1> Projects </h1>

<div class="content">
	<h3> Three.js Audio Visualizer </h3>
	<%= link_to image_tag("visualizer.png", width: '300', :class => "thumbnail"), static_pages_visualizer_path, target: "_blank" %>

	<h3> Three.js Particle Physics </h3>
</div>

