<%= content_for :trackball_controls do %>

	<%= javascript_include_tag "TrackballControls.js" %>

<% end %>


<div class="visualizer">

</div>

<script type="text/javascript">
	$(initAudio);
	$(initVisualizer);
</script>