<h2> Articles </h2>

<% @articles.each do |article| %>

	<div class="container-fluid article-info">

		<div class="col-sm-2" id="descriptor">
			<h3> Title: </h3>
			<p> Text: </p>
		</div>

		<div class="col-sm-10 content">
			<h3>
				<%= article.title %> 
			</h3>
			<p> 
				<%= article.text %> 
			</p>
		</div>

		<div>
			<%= link_to 'View', article_path(article), :class => "btn btn-info article-action"%>
			<%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary article-action", :style => "margin-left: 2px;"%>
		</div>

	</div>

	<hr> 

<% end %>

