<%= link_to 'Back', articles_path %>

<h2> Article Sucessfully Created! </h2>

<div class="col-sm-2">
	<h4> <strong> Title: </strong> </h4>
	<p> <strong> Text: </strong> </p>
</div>

<div class="col-sm-10 content">
	<h4>
		<%= @article.title %> 
	</h4>
	<p> 
		<%= @article.text %> 
	</p>
	<button class="btn btn-info"> <%= link_to 'Edit', edit_article_path(@article) %> </button>
</div>

