
<h2> Article Sucessfully Created! </h2>

<div class="col-sm-2">
	<h4> <strong> Title: </strong> </h4>
	<p> <strong> Text: </strong> </p>
</div>

<div class="col-sm-10 content">
	<h4>
		<%= @article.title %> 
	</h4>
	<p> 
		<%= @article.text %> 
	</p>
</div>

