/* line 5, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.control-label {
  margin: 8px;
}

/* line 9, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
label {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 12px;
}

/* line 18, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.form {
  text-align: left;
}

/* line 22, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.btn-default {
  color: white !important;
}

/* line 26, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.content {
  text-align: left;
}

/* line 30, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
textarea {
  resize: none;
}

/* line 34, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.article-info {
  padding: 0px !important;
}

/* line 38, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.article-body {
  font-size: 16px;
  word-wrap: break-word;
}

/* line 43, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.full-article {
  word-wrap: break-word;
  text-align: left;
  max-width: 900px;
}

/* line 49, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.full-article > h3 {
  font-size: 24px !important;
  margin-top: 10px !important;
}

/* line 54, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.full-article > p {
  font-size: 16px !important;
}

/* line 58, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.col-md-3.box {
  height: 300px !important;
  width: 350px !important;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
  margin: 30px 20px 30px 20px;
  padding: 0;
  border-radius: 5px !important;
  float: none !important;
  overflow: auto;
  display: inline-block;
  position: relative;
}

/* line 73, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.box > a > img {
  width: 100%;
  height: 70%;
  border-radius: 0;
}

/* line 79, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.box-header h4 {
  background-color: #f0f0f0;
  width: 100%;
  height: 30%;
  margin: auto;
  line-height: 30px;
  color: black;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  position: absolute;
}

/* line 96, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.box:hover {
  opacity: 0.9;
}

/* line 100, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/articles.scss */
.articles-center-column {
  width: 1400px;
}
/* line 5, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/comments.scss */
.comment-section > p, .comment-section > a {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 15px;
}

/* line 10, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/comments.scss */
label.control-label.required {
  font-family: Helvetica, Arial, sans-serif !important;
}
/* line 5, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/photos.scss */
a.glyphicon.glyphicon-trash {
  color: red;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* line 12, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/photos.scss */
.trash-icon {
  float: right;
  background-color: #f2f2f2;
  color: red !important;
  display: inline;
}

/* line 19, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/photos.scss */
.photo-area {
  width: 100%;
  overflow: auto;
  padding: 0;
}

/* line 25, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/photos.scss */
.image-box {
  position: relative;
}

/* line 29, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/photos.scss */
.image-box > a > img {
  width: 100%;
  height: 100%;
}

/* line 34, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/photos.scss */
.images-center-column {
  width: 1000px;
  background-color: #ffffff !important;
  border-radius: 3px;
  padding: 10px;
  position: relative;
}

/* line 42, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/photos.scss */
#add-image-btn {
  position: absolute;
  color: black !important;
  top: 2px;
  right: 2px;
  z-index: 1 !important;
}
/* line 1, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/screen.scss */
.progress {
  max-width: 600px;
  margin: 0.2em 0 0.2em 0;
}

/* line 6, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/screen.scss */
.progress .bar {
  height: 1.2em;
  padding-left: 0.2em;
  color: white;
  display: none;
}
/* line 5, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.me {
  border-radius: 5px;
  display: inline;
  margin-right: 20px;
  float: left;
}

/* line 12, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.intro {
  font-size: 16px !important;
  line-height: 20px;
}

/* line 17, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
img {
  border-radius: 5px;
}

/* line 21, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.resume {
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  max-width: 300px !important;
}

/* line 29, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
img.resume:hover {
  -webkit-filter: brightness(95%);
}

/* line 33, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.proj-description {
  padding-left: 10px !important;
}

/* line 37, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.game-image {
  width: 100%;
  margin-bottom: 10px;
  background-size: cover;
}

/* line 43, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.proj-link {
  font-size: 15px !important;
  line-height: 15.4px;
  bottom: 5px;
  position: absolute;
}

/* line 50, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.proj-head {
  vertical-align: top;
  position: relative;
}

/* line 55, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.ad-game {
  margin: 5px;
}

/* line 59, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.visualizer-col {
  padding-left: 0 !important;
  position: relative;
}

/* line 64, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.particles-img {
  width: 100%;
}

/* line 68, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.particles-col {
  padding-right: 0 !important;
}

/* line 72, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
a.glyphicon.glyphicon-play-circle {
  font-size: 24px;
  z-index: 2;
  color: white;
  position: absolute;
  top: 2px;
  left: 2px;
}

/* line 81, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 86, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/static_pages.scss */
.align-left {
  text-align: left !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */
/* line 20, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
h1 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 56px !important;
  font-style: normal;
  font-variant: normal;
  /*font-weight: 300;*/
  line-height: 36.4px;
  text-align: center;
  margin-bottom: 30px !important;
}

/* line 31, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
h2 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 42px !important;
  font-style: normal;
  font-variant: normal;
  /*font-weight: 300;*/
  line-height: 26.4px;
}

/* line 40, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
h3 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 25px !important;
  font-style: normal;
  font-variant: normal;
  /*font-weight: 300;*/
  line-height: 15.4px;
  margin-top: 5px !important;
}

/* line 50, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
h5 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  font-style: normal;
  font-variant: normal;
  /*font-weight: 300;*/
  line-height: 15.4px;
  margin-top: 5px !important;
}

/* line 60, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.navbar {
  font-family: Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-variant: normal;
  color: #f2f2f2 !important;
  line-height: 20px;
  margin-bottom: 20px !important;
  border-radius: 0px !important;
  background-color: black;
  text-align: center;
  position: relative;
  width: 100%;
}

/* line 74, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
a {
  text-decoration: none !important;
}

/* line 78, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
p {
  font-size: 16px !important;
}

/* line 82, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.center-column {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  padding: 10px 30px 10px 30px !important;
  position: relative;
}

/* line 91, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
body {
  text-align: center;
}

/* line 95, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.container-fluid {
  border-radius: 3px;
}

/* line 99, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.navbar a {
  color: white !important;
}

/* line 103, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
ul.nav.navbar-nav > li > a, a.navbar-brand {
  z-index: 10;
}

/* line 107, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.nav > li > a:hover, .nav > li > a:focus, a.navbar-brand:hover, a.navbar-brand:focus {
  color: white;
  opacity: 0.7 !important;
  background-color: transparent !important;
}

/* line 113, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30%;
  text-align: center;
  margin: 0 auto;
}

/* line 122, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.article-action {
  color: white !important;
  float: right;
}

/* line 127, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
#back-button {
  background-color: #f2f2f2;
  color: black !important;
  position: absolute;
  left: 7px;
  /*top: 70px;*/
  /*left: 285px;*/
  z-index: 1;
}

/* line 137, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
#plus-button {
  z-index: 1;
  background-color: #f2f2f2;
  color: black !important;
  right: 2px;
  position: absolute;
}

/* line 145, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
#delete-comment {
  float: right;
  color: red;
}

/* line 150, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
button > a, button > a:hover {
  color: white;
}

/* line 154, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.btn {
  margin: 2px;
}

/* line 158, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.form-group {
  margin-bottom: 0px !important;
}

/* line 162, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.field {
  margin-bottom: 15px;
}

/* line 166, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.alert {
  font-size: 15px;
}

/* line 170, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.links {
  margin: 20px;
}

/* line 174, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.g-recaptcha {
  margin-bottom: 15px;
}

/* line 178, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.center {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 184, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
ul.dropdown-menu > li > a {
  color: black !important;
}

/* line 188, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
label {
  font-family: Helvetica, Arial, sans-serif !important;
}

/* line 192, /Users/bfbachmann/Desktop/Code/Ruby/blog/app/assets/stylesheets/application.scss */
.page-actions {
  position: relative;
}
.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
