<div class="container-fluid feed">

	<h2>Articles</h2>

	<% [@articles1to3, @articles4to6].each do |articles| %>
		<div class="row center">
			<% articles.each do |article| %>
					<% if article.nil? then break end %>

					<% if not article.photo_uid.nil? %>
						<%= link_to article_path(article) do %>
							<div class="col-sm-4 box">
								<div class="box-header">
									<h4> <%= article.title %> </h4>
								</div>
								<%= image_tag(@photos.find_by(:id => article.photo_uid).image, :size => "300x150") %> 
							</div>
						<% end %>
					<% end %>
			<% end %>
		</div>
	<% end %>

	<hr>

	<div class="col-sm-6 container-fluid">
		<h2 class="center">Github</h2>

		<div class="github-feed">
			<% @feed.entries.first(5).each do |entry| %>
				<%= raw(entry.content) %>
				<hr>
	 		<% end %>
	 	</div>
	</div>

	<div class="col-sm-6 container-fluid">
		<h2 class="center">Twitter</h2>

		<a class="twitter-timeline" data-height="1000" href="https://twitter.com/bfbachmann">Tweets by bfbachmann</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>

</div>