<div class="container-fluid">

	<h1> Welcome </h1>
	<h3> To my Rails Blog </h3>

	<div>
		<% @articles1to3.each do |article| %>
				<% if article.nil? then break end %>
				<div class="col-sm-3 box">
					<p> <%= article.title %> </p>
				</div>
		<% end %>

		<% @articles4to6.each do |article| %>
				<% if article.nil? then break end %>
				<div class="col-sm-3 box">
					<p> <%= article.title %> </p>
				</div>
		<% end %>

		<% @articles7to9.each do |article| %>
				<% if article.nil? then break end %>
				<div class="col-sm-3 box">
					<p> <%= article.title %> </p>
				</div>
		<% end %>
	</div>

</div>