/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require rails_bootstrap_forms
 */


h1 {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 56px !important;
    font-style: normal;
    font-variant: normal;
    /*font-weight: 300;*/
    line-height: 36.4px;
    text-align: center;
    margin-bottom: 30px !important;
}

h2 {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 42px !important;
    font-style: normal;
    font-variant: normal;
    /*font-weight: 300;*/
    line-height: 26.4px;
}

h3 {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 20px !important;
    font-style: normal;
    font-variant: normal;
    /*font-weight: 300;*/
    line-height: 15.4px;
    margin-top: 5px !important;
}

.navbar {
    font-family: Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    color: #f2f2f2 !important;
    line-height: 20px;
}

a {
    text-decoration: none !important;
}

.center-column {
    width: 850px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff !important;
    border-radius: 3px;
    padding: 10px 30px 10px 30px !important;
    position: relative;
}

body {
    /*background: linear-gradient(to right, #062f4f, #264f6f, #062f4f);*/
    text-align: center;
}

#error-message {
    color: red;
    background-color: #ff9999;
}

.container-fluid {
    border-radius: 3px;
}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.navbar-inverse {
    color: black;
}

.navbar a {
    color: black !important;
}

.nav>li>a:hover, .nav>li>a:focus, a.navbar-brand:hover, a.navbar-brand:focus {
    color: black;
    opacity: 0.7 !important;
    /*background-color: #b82641 !important;*/
}

.article-action {
    color: white !important;
    float: right;
}

.descriptor {
    padding: 0px !important;
}

#back-button {
    float: left;
    background-color: #f2f2f2;
    color: black !important;
    position: absolute;
    top: 50px;
    left: 250px;
}

#plus-button {
    float: right;
    background-color: #f2f2f2;
    color: black !important;
    display: inline;
    position: absolute;
    top: 50px;
    right: 250px;
}

#delete-comment {
    float: right;
    color: red;
}

button>a, button>a:hover {
    color: white;
}

.btn {
    margin: 2px;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: -5;
    color: black;
}

.form-group {
    margin-bottom: 0px !important;
}

.field {
    margin-bottom: 15px;
}

.alert {
    font-size: 15px;
}

.links {
    margin: 20px;
}

.g-recaptcha {
    margin-bottom: 15px;
}

.center {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.dropdown-menu>li>a {
    color: black !important;
}

label {
    font-family: Helvetica, Arial, sans-serif !important;
}
