// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-section>p, .comment-section>a {
	font-family: Helvetica, Arial, sans-serif !important;
	font-size: 15px;
}

label.control-label.required {
    font-family: Helvetica, Arial, sans-serif !important;
}