// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.glyphicon.glyphicon-trash  {
	color: red;
	position: absolute;
    top: 2px;
    right: 2px;
}

.trash-icon {
    float: right;
    background-color: #f2f2f2;
    color: red !important;
    display: inline;
}

.photo-area {
	width: 290px;
	position: relative;
}

.image-box {
	position: relative;
}