<%= render 'layouts/navbar' %>

<div class="container-fluid front-page-column">
	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<%= yield %>

	<div class="links">

		<a class="hvr-float-shadow" href="https://twitter.com/bfbachmann" data-show-count="false" target="_blank"> <img src="/assets/twitter.png" width="30px"> </a>

		<a class="hvr-float-shadow" href="https://github.com/bfbachmann" data-show-count="false" target="_blank"> <img src="/assets/github.png" width="30px"> </a>

		<a class="hvr-float-shadow" href="https://www.linkedin.com/in/bruno-bachmann-781323119?trk=hp-identity-name" data-show-count="false" target="_blank"> <img src="/assets/linkedin.svg" width="30px"> </a>

		<a class="hvr-float-shadow" href="https://www.youtube.com/channel/UC6D8kAII6ZmFQITe0FAguLQ" data-show-count="false" target="_blank"> <img src="/assets/youtube.png" width="30px"> </a>

	</div>

</div>

</body>
</html>
